<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sound_mainpage">


    <!--인터넷 사용 퍼미션-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!--포그라운드 권한 -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <!--블루투스 연결-->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--http이용을 위한 usesCleartextTraffic 설정-->
    <application
        android:usesCleartextTraffic="true"

        android:allowBackup="true"
        android:icon="@mipmap/dongkey_round"
        android:label="당나귀"
        android:roundIcon="@drawable/icondonkey"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.Loading_pageActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginPage_Activity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".login.JoinActivity"/>
        <activity android:name=".SoundCollection.Sound_collection"/>
        <activity android:name=".SoundTest.ResultActivity"/>
        <activity android:name=".SoundChoice.sound_choice"/>
        <activity android:name=".SoundTest.SoundTest"/>

        <service android:name=".MyService"/>
        <activity android:name=".Sound_useTime"/>
    </application>

</manifest>